/* ! CSS Reset */
* {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
section {
  width: 100%;
  padding: 50px 100px;
}
dd {
  padding-left: 20px;
}
/* ! Button Home */
.btn-home {
	position: fixed;
	bottom: 50px;
	right: 70px;
	z-index: 20;
}
.btn-home .home a {
  text-decoration: none;
}
.btn-home .home .bx {
	font-size: 40px;
	color: rgba(241,242,246,1);
	cursor: pointer;
	display: block;
	background-color: #2c3e50;
	padding: 10px;
	border-radius: 50%;
}
.btn-home .home:hover .bx {
	background-color: rgba(44,62,80,.9);
}
/* ! Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  border-bottom: 1px solid #a7a6a6;
}
nav .brand {
  color: #333;
  font-size: 27px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
}
nav .brand span {
  color: #2196f3;
}
nav .btn-back {
  display: block;
  padding: 13px 20px;
  text-decoration: none;
  background-color: #111;
  color: #fff;
  border-radius: 7px;
  font-weight: 700;
}
nav .btn-back:hover {
  background-color: rgba(17,17,17,.8);
}
/* ! Container */
.container {
  width: 100%;
  border-bottom: 1px solid #a7a6a6;
}
.container .started {
  max-width: 850px;
  margin: 70px auto;
  font-size: 1.2rem;
  text-align: justify;
}
.container .started h2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
}
/* ! Materi */
.teori {
  display: flex;
}
aside {
  position: sticky;
	top: 50px;
  min-width: 25%;
	height: 100vh;
}
aside .sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
  border-right: 1px solid #a7a6a6;
}
aside .sidenav h4 {
  color: #555;
  align-self: flex-start;
  margin-bottom: 5px;
  font-weight: 500;
}
aside .sidenav h4 a {
  color: #666;
  text-decoration: none;
}
aside .sidenav ul {
  margin-bottom: 10px;
}
aside .sidenav li {
  line-height: 25px;
  padding-left: 18px;
  border-left: 1px solid #dfdede;
}
aside li a {
  color: #999;
  text-decoration: none;
}
aside .sidenav h4 a:hover, aside li a:hover {
  color: #111;
}
article {
  min-width: 50%;
  padding: 0 70px;
}
/* * Materi Content */
.content {
  /* position: relative; */
  padding: 50px 0 20px 0;
  border-bottom: 7px double #a7a6a6;
}
.content .col {
  margin-bottom: 20px;
}
.content .col h3 {
  font-size: 20px;
  font-weight: 500;
}
.content .col .h3 {
  margin-bottom: 7px;
  font-size: 23px;
  font-weight: 500;
}
.content .col span.span {
  color: #2196f3;
}
.content .col p, .content .col .ls-line p {
  font-size: 18px;
  text-align: justify;
}
.content .col details summary {
  margin-top: 3px;
  color: #6dace0;
  outline: none;
  cursor: pointer;
}
.content .col details, .content .col pre, .content .col .output {
  font-size: 1.2rem;
}
.content .col pre {
  width: 100%;
  /* height: 100px; */
  overflow: auto;
  /* white-space: pre-wrap; */
}
.content .col .output {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: auto;
  border: 2px solid #333;
  padding: 20px;
}
/* * Materi Pseudo-Class */
.col .output .p1:hover {
  color: #2196f3;
  text-decoration: underline;
  cursor: pointer;
}
.col .output .p2 {
  display: inline;
  cursor: pointer;
}
.col .output .p2:active {
  color: red;
  font-style: italic;
} 
.col .output .ul1 + .p3 {
  color: coral;
}
.col .output .ul2 ~ p {
  color: #d44;
}
.col .output p span[id=spanID] {
  color: blueviolet;
}
.col .output .ul3 li, .col .output .ul4 li, .col .output .ul5 li {
  display: inline;
  margin-left: 20px;
  text-decoration: underline;
  cursor: pointer;
}
.col .output .ul3 li:first-child, .col .output .ul4 li:last-child, .col .output .ul5 li:nth-child(2n+1) {
color: #f05d75;
}
.col .output input[id=btn]:checked + label {
  color: blueviolet;
  text-transform: uppercase;
}
.col .output input[id=focus] {
	width: 200px;
	background-color: transparent;
	padding: 11px 7px;
	text-align: center;
  font-size: 18px;
	border: 2px solid royalblue;
	border-radius: 30px;
	outline: none;
	transition: .2s;
}
.col .output input[id=focus]:focus {
  width: 280px;
  border-color: limegreen;
}
.col .output.not div:not(#content2) {
  color: tomato;
}
/* * Materi Overflow */
.col .output .par1, .col .output .par2, .col .output .par3 {
  width: 200px;
  height: 150px;
  background-color: violet;
}
.col .output .par1 {
  overflow: auto;
}
.col .output .par2 {
  overflow: hidden;
  line-height: 20px;
}
.col .output .par3 {
  overflow: scroll;
}
/* * Materi Float */
.col .output .kotak {
  background-color: limegreen;
  padding: 20px;
}
.col .output .kotak .kotakImg {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 10px;
}
/* * Materi Position */
.col .output .box {
  width: 150px;
  height: 100px;
  border: 1px solid #333;
}
.col .output .box.box1 { background-color: #ff0000; }
.col .output .box.box2 { background-color: #008000; }
.col .output .box.box3 { background-color: #0000ff; }
/* * Materi Z-index */
.col .output .box.satu {
  background-color: #f00;
  z-index: 1;
}
.col .output .box.dua {
  position: absolute;
  top: 60px;
  left: 100px;
  background-color: #080;
  z-index: 2;
}
.col .output .box.tiga {
  position: absolute;
  top: 100px;
  left: 200px;
  background-color: #00f;
}
/* * Materi Box Model */
.col .output .boxM {
  width: 200px;
  background-color: tomato;
  margin: 25px auto;
}
.col .output .boxP {
  width: 200px;
  background-color: violet;
  padding: 20px;
}
.col .output .boxB {
  display: flex;
}
.col .output .boxB div {
  width: 200px;
  height: 100px;
  background-color: lime;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col .output .boxB .solidBx { border: 5px solid #111;}
.col .output .boxB .dottedBx { border: 5px dotted #111;}
.col .output .boxB .dashedBx { border: 5px dashed #111;}
.col .output .boxB .doubleBx { border: 5px double #111;}
/* * Materi Pseudo-Element */
.col .output #target1:target { background-color: tomato; }
.col .output #target2:target { background-color: pink; }
/* * Materi Before After */
.col .output .beaf1::before { content: 'Hi, '; }
.col .output .beaf1::after { content: ' World!'; }
.col .output .beaf2 {
  width: 200px;
  height: 200px;
  background-color: #080;
  position: relative;
  border: 1px solid #333;
}
.col .output .beaf2::before, .col .output .beaf2::after {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px dashed #333;
}
.col .output .beaf2::before {
  top: -15px;
  left: -15px;
  background-color: #f00;
}
.col .output .beaf2::after {
  bottom: -15px;
  right: -15px;
  background-color: #00f
}
/* ! Ini adalah Clear Float */
/* ! Micro Clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

@media screen and (max-width: 991px) {
  section {
    padding: 50px 0;
  }
  /* ! Button Home */
  .btn-home {
    bottom: 70px;
  }
  .btn-home .home .bx {
    font-size: 30px;
  }
  nav {
    padding: 20px 100px;
  }
  .container .started {
    margin: 50px 50px;
  }
  aside {
    display: none;
  }
  .started, article {
    padding: 0 50px;
  }
}
@media screen and (max-width: 600px) {
  section {
    padding: 50px 0;
  }
  /* ! Button Home */
  .btn-home {
    bottom: 70px;
	  right: 30px;
  }
  .btn-home .home .bx {
    font-size: 20px;
  }
  /* ! Navbar */
  nav {
    padding: 20px 20px;
  }
  nav .brand {
    font-size: 22px;
  }
  nav .btn-back {
    padding: 7px 10px;
    font-size: 13px;
  }
  .container .started {
    margin: 50px 0;
  }
  .container .started h2 {
    font-size: 30px;
  }
  .container .started p, .content .col p, .content .ls-line p {
    font-size: 16px;
  }
  .started, article {
    padding: 0 20px;
  }
}