/* ! CSS Reset */
* {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
section {
  width: 100%;
  padding: 50px 100px;
}
dd {
  padding-left: 20px;
}
/* ! Button Home */
.btn-home {
	position: fixed;
	bottom: 50px;
	right: 70px;
	z-index: 20;
}
.btn-home .home a {
  text-decoration: none;
}
.btn-home .home .bx {
	font-size: 40px;
	color: rgba(241,242,246,1);
	cursor: pointer;
	display: block;
	background-color: #2c3e50;
	padding: 10px;
	border-radius: 50%;
}
.btn-home .home:hover .bx {
	background-color: rgba(44,62,80,.9);
}
/* ! Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  border-bottom: 1px solid #a7a6a6;
}
nav .brand {
  color: #333;
  font-size: 27px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
}
nav .brand span {
  color: #2196f3;
}
nav .btn-back {
  display: block;
  padding: 13px 20px;
  text-decoration: none;
  background-color: #111;
  color: #fff;
  border-radius: 7px;
  font-weight: 700;
}
nav .btn-back:hover {
  background-color: rgba(17,17,17,.8);
}
/* ! Container */
.container {
  width: 100%;
  border-bottom: 1px solid #a7a6a6;
}
.container .started {
  max-width: 850px;
  margin: 70px auto;
  font-size: 1.2rem;
  text-align: justify;
}
.container .started h2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
}
/* ! Materi */
.teori {
  display: flex;
}
aside {
  position: sticky;
	top: 50px;
  min-width: 25%;
	height: 100vh;
}
aside .sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
  border-right: 1px solid #a7a6a6;
}
aside .sidenav h4 {
  color: #555;
  align-self: flex-start;
  margin-bottom: 5px;
  font-weight: 500;
}
aside .sidenav h4 a {
  color: #666;
  text-decoration: none;
}
aside .sidenav ul {
  margin-bottom: 10px;
}
aside .sidenav li {
  line-height: 25px;
  padding-left: 18px;
  border-left: 1px solid #dfdede;
}
aside li a {
  color: #999;
  text-decoration: none;
}
aside .sidenav h4 a:hover, aside li a:hover {
  color: #111;
}
article {
  min-width: 50%;
  padding: 0 70px;
}
/* * Materi Content */
.content {
  /* position: relative; */
  padding: 50px 0 20px 0;
  border-bottom: 7px double #a7a6a6;
}
.content .col {
  margin-bottom: 20px;
}
.content .col h3 {
  font-size: 20px;
  font-weight: 500;
}
.content .col .h3 {
  margin-bottom: 7px;
  font-size: 23px;
  font-weight: 500;
}
.content .col span.span {
  color: #2196f3;
}
.content .col p, .content .col .ls-line p {
  font-size: 18px;
  text-align: justify;
}
.content .col details summary {
  margin-top: 3px;
  color: #6dace0;
  outline: none;
  cursor: pointer;
}
.content .col details, .content .col pre, .content .col .output {
  font-size: 1.2rem;
}
.content .col pre {
  width: 100%;
  /* height: 100px; */
  overflow: auto;
  /* white-space: pre-wrap; */
}
.content .col .output {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: auto;
  border: 2px solid #333;
  padding: 20px;
}
/* * Materi Border Radius */
.col .output .borad {
  display: flex;
  justify-content: space-around;
}
.col .output .borad .borad1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.col .output .borad .borad1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #2196f3;
}
.col .output .borad .borad2 {
  width: 200px;
  height: 200px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #d44;
}
/* * Materi Opacity */
.col .output .opa {
  width: 300px;
  height: 300px;
  background-color: #f60;
  opacity: .5;
  position: relative;
}
.col .output .opa .opa-child {
  width: 100px;
  height: 100px;
  background-color: #00f;
  position: absolute;
  right: -50px;
  bottom: -50px;
  border-radius: 50%;
}
/* * Materi RGBa & HSLa */
.col .output .box {
  width: 300px;
  height: 300px;
  position: relative;
}
.col .output .box1 { background-color: rgba(255,102,0,.5); }
.col .output .box2 { background-color: hsla(24,100%,63%,.5); }
.col .output .box .box-child {
  width: 100px;
  height: 100px;
  background-color: #00f;
  position: absolute;
  right: -50px;
  bottom: -50px;
  border-radius: 50%;
}
/* * Materi Box Shadow */
.col .output .boxShadow {
  width: 200px;
  height: 200px;
  background-color: #39b54a;
  margin: auto;
}
.col .output .boxShadow.nonOpsional { box-shadow: 7px 7px 5px #000; }
.col .output .boxShadow.inset { box-shadow: inset 0 0 35px 5px #00f; }
.col .output .boxShadow.multiShadow { box-shadow: 10px 10px 5px #f00,
  -10px -10px 5px #00f; }
.col .output .boxShadow.multiBorder {
  box-shadow: 0 0 0 5px #f00,
  0 0 0 10px #800080,
  0 0 0 15px #ffd700,
  0 0 0 20px #ff8c00;
  border-radius: 50%;
}
/* * Materi  Text Shadow */
.col .output .text {
  font-size: 70px;
  text-align: center;
  color: #fff;
  line-height: 2.5;
}
.col .output .text.child-1 { text-shadow: 0 10px 5px #006400; }
.col .output .text.child-2 {
  text-shadow: -9px 9px 2px #ffa500,
  -18px 18px 2px #ff8c00,
  -27px 27px 2px #ff6347;
}
.col .output .text.child-3 {
  text-shadow: 10px 10px 5px rgba(255,0,0,.75),
  -10px -10px 5px rgba(0,0,255,.75);
}
.col .output .text.child-4 {
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #fff,
  0 0 40px #ff00de,
  0 0 70px #ff00de,
  0 0 80px #ff00de,
  0 0 100px #ff00de,
  0 0 150px #ff00de;
}
.col .output .text.child-5 {
  text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #feec85,
  -20px -20px 40px #ffae34,
  20px -30px 50px #ec760c,
  -20px -40px 60px #cd4606,
  0 -50px 70px #973716,
  10px -60px 80px #451b0e;
}
.col .output .text.child-6 {
  background-color: #f1f2f6;
  color: #333;
  text-shadow: 4px 3px 0px #fff,
  9px 8px 0px rgba(0,0,0,.15);
}
.col .output .text.child-7 {
  background-color: #def;
  color: rgba(10,60,150,.8);
  text-shadow: 1px 4px 6px #def,
  0 0 0 #000,
  1px 4px 6px #def;
}
/* * Materi Gradients */
.col .output .grBx {
  display: flex;
  justify-content: space-around;
}
.col .output .grBx .box {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}
/* * Linear Gradient */
.col .output .grBx .child-1 { background-image: linear-gradient(#e74c3c, #9b59b6, #f1c40f, #d35400); }
.col .output .grBx .child-2 { background-image: linear-gradient(to right, #4169e1, #d44); }
.col .output .grBx .child-3 { background-image: linear-gradient(to right bottom, #00f, #90ee90); }
.col .output .grBx .child-4 { background-image: linear-gradient(to right, #87ceeb 63%, #32cd32 80%); }
/* * Radial Gradient */
.col .output .grBx .child-5 { background-image: radial-gradient(circle, #d35400 35%, #3498db 80%); }
.col .output .grBx .child-6 { background-image: radial-gradient(circle closest-side, #f00 43%, #00f); }
.col .output .grBx .child-7 { background-image: radial-gradient(circle farthest-side at top center, #080 33%, #800080 63%); }
.col .output .grBx .child-8 { background-image: radial-gradient(#d35400 20%, #3498db 37%, #2c3e50 80%); }
/* * Materi Fonts */
details .col dl dd a[target] {
  color: #4169e1;
  text-decoration: none;
}
details .col dl dd a[target]:hover {
  color: #ff6347;
}
/* * Font-Face */
@font-face {
  font-family: "alex brush";
  src: url(../../../fonts/AlexBrush-Regular.ttf) format('truetype');
}
.col .output .fontFace {
  font-size: 100px;
  text-align: center;
  font-family: "alex brush", sans-serif;
}
/* * Web Font Generator */
@font-face {
  font-family: 'open_sans';
  src: url(../../../fonts/OpenSans-Regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
.col .output .wfg {
  font-size: 80px;
  text-align: center;
  font-family: 'open_sans', sans-serif;
}
/* * Materi Filters */
.col .output .imgBx {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.col .output .imgBx .img {
  width: 300px;
  height: 300px;
  border: 5px double #333;
  margin-bottom: 20px;
}
.col .output .img.img1 { filter: blur(5px); }
.col .output .img.img2 { filter: brightness(2.5); }
.col .output .img.img3 { filter: contrast(250%); }
.col .output .img.img4 { filter: saturate(2); }
.col .output .img.img5 { filter: grayscale(1); }
.col .output .img.img6 { filter: sepia(1); }
.col .output .img.img7 { filter: hue-rotate(100deg); }
.col .output .img.img8 { filter: invert(100%); }
.col .output .img.img9 { filter: opacity(.5); }
/* * Materi Transform */
.col .output .kotak {
  position: relative;
  margin: auto;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.col .output .kotak:is(.kotak-1, .kotak-2, .kotak-3, .kotak-4) {
  width: 100px;
  height: 100px;
  background-color: #ffc0cb;
}
.col .output .kotak.kotak-1:hover { transform: scale(1.2, 1.3); }
.col .output .kotak.kotak-2:hover { transform: rotateY(360deg); }
.col .output .kotak.kotak-3:hover { transform: skew(-30deg); }
.col .output .kotak.kotak-4:hover { transform: translate(-50%, -50%); }
/* * Materi Transition */
.col .output .transisiBx .transisi {
  width: 100px;
  height: 100px;
  background-color: #2196f3;
  text-align: center;
  margin: 5px 0;
  cursor: pointer;
}
.col .output .transisiBx:hover .transisi {
  transform: rotate(720deg);
  margin-left: 500px;
  background-color: #00f;
}
.transisi1 { transition: all 3s ease; }
.transisi2 { transition: all 3s ease-in; }
.transisi3 { transition: all 3s ease-out; }
.transisi4 { transition: all 3s ease-in-out; }
.transisi5 { transition: all 3s linear; }
.transisi6 { transition: all 3s cubic-bezier(0.24,-0.25,0.78,1.46); }
.transisi7 { transition: all 3s 1.5s cubic-bezier(0.24,-0.25,0.78,1.46); }
.transisi8 { transition: margin-left 3s, transform 3s 2s, background-color 500ms 3s; }
/* * Materi Animation */
.col .output .animasiBx {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(#d44, #ff6347, #f00, #8b0000, #800000);
  animation: identifier 2s ease infinite alternate forwards running;
}
@keyframes identifier {
  0% {
    width: 0;
  }
  50% {
    width: 500px;
    height: 200px;
  }
  100% {
    width: 500px;
    height: 500px;
  }
}
/* * Materi CSS Grid */
.col .output .gridBx {
  width: 100%;
  font-size: 22px;
  font-weight: 900;
  color: #fff;
  text-shadow: 0 2px 1px #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "header header header"
  "sidebar main main"
  "sidebar main main"
  "footer footer footer";
}
.col .output .gridBx .item {
  width: 100%;
  background-color: rgb(138,209,254);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}
.col .output .gridBx .header {
  grid-area: header;
  background-color: #f0f;
}
.col .output .gridBx .sidebar {
  grid-area: sidebar;
  background-color: #ffa500;
}
.col .output .gridBx .main {
  grid-area: main;
  background-color: #add8e6;
}
.col .output .gridBx .footer {
  grid-area: footer;
  background-color: #333;
}
/* * Materi CSS Modern */
.col .output .path {
  width: 300px;
  height: 300px;
  object-fit: cover;
  clip-path: polygon(1% 13%, 12% 0%, 93% 13%, 74% 30%, 91% 51%, 71% 59%, 90% 78%, 57% 73%, 57% 100%, 26% 76%, 9% 91%, 0% 65%);
}
.col .output .clipTxt {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  text-align: center;
  background-image: url(../../../img/banner2.jpg);
  background-size: cover;
  background-position: 0 -950px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.col .output .stroke {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  text-align: center;
  -webkit-text-stroke: 2px #0f0;
}

@media screen and (max-width: 991px) {
  section {
    padding: 50px 0;
  }
  /* ! Button Home */
  .btn-home {
    bottom: 70px;
  }
  .btn-home .home .bx {
    font-size: 30px;
  }
  nav {
    padding: 20px 100px;
  }
  .container .started {
    margin: 50px 50px;
  }
  aside {
    display: none;
  }
  .started, article {
    padding: 0 50px;
  }
}
@media screen and (max-width: 600px) {
  section {
    padding: 50px 0;
  }
  /* ! Button Home */
  .btn-home {
    bottom: 70px;
	  right: 30px;
  }
  .btn-home .home .bx {
    font-size: 20px;
  }
  /* ! Navbar */
  nav {
    padding: 20px 20px;
  }
  nav .brand {
    font-size: 22px;
  }
  nav .btn-back {
    padding: 7px 10px;
    font-size: 13px;
  }
  .container .started {
    margin: 50px 0;
  }
  .container .started h2 {
    font-size: 30px;
  }
  .container .started p, .content .col p, .content .ls-line p {
    font-size: 16px;
  }
  .started, article {
    padding: 0 20px;
  }
  /* * Materi CSS Grid */
  .col .output .gridBx {
    grid-template-areas: 
    "header header header"
    "sidebar sidebar sidebar"
    "main main main"
    "footer footer footer";
  }
}